$background-color_btn : #25abe4;
$color_btn : #fff;

#presentation {
    margin-left: 100px;
    margin-right: 100px;

    .container_pres {
        // border: 1px solid #000;
        // border-radius: 10px;
        height: 300px;
        margin: auto;
        display: flex;
        justify-content: space-around;

        #pres {
            display: flex;
            // border: 1px solid #000;
            // border-radius: 10px;
            // background-color: red;

            p {
                font-size: 100%;
                text-align: center;
                margin-top: 100px;
            }
        }

        #img_pres {
            display: flex;
            justify-content: flex-end;
            // border: 1px solid #000;
            // border-radius: 10px;

            img {
                height: 50px;
                width: 100%;
                border: 1px solid rgb(14, 146, 223);
                border-radius: 100px;
                margin-top: 50px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container_pres {
        height: 300px;
        margin: auto;
        display: flex;
        flex-direction: column;
        
        #pres {
            display: flex;
            justify-content: center;
        }
    }
}