$background : rgb(255, 255, 255);
$box-shadow: 5px 5px 5px 5px rgb(234, 90, 90);
$color_html : rgb(228, 76, 37);
$color_css: rgb(22, 161, 220);
$color_bootstrap: rgb(86, 61, 124);
$color_github: black;
$color_wordpress: rgb(46, 114, 159);
$color_javascript: rgb(240, 190, 37);
$color_php: black;
$color_java: blue;

#techno {
    .container_techno {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        .container_txt_icon {
            max-width: 30%;
            padding: 0 15px;

            .box {
                background: $background;
                padding: 30px 30px;
                border-radius: 10px;
                margin-bottom: 20%;
                box-shadow: $box-shadow;

                #html {
                    .color_html {}
                }

                #css {}
            }

            #bootstrap {
                color: $color_bootstrap;

            }

            #github {
                .color_git {
                    color: $color_github;
                }

            }



            // #wordpress {
            //     color: $color_wordpress;
            // }

            // #javascript {
            //     color: $color_javascript;
            // }

            // #php {
            //     color: $color_php;
            // }

            // #java {
            //     color: $color_java;
            // }

            i {
                display: block;
                margin: auto;
                width: 100%;
                font-size: 100px;
            }
        }
    }
}


@media screen and (max-width: 768px) {

    .container_techno {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 10px;
    }

}