$background-color_btn : #00b4d8;
$color_btn : #fff;
$font-family_btn: 'Macondo', cursive;

#accueil {
    margin-left: 100px;
    margin-right: 100px;

    #container_accueil {
        //  border: 1px solid #000;
        border-radius: 10px;
        height: 300px;
        display: flex;
        justify-content: space-around;

        .img_left {
            margin-top: 5%;

            #pres_img {
                padding: 50px;
                margin: auto;

                img {
                    height: 200px;
                    width: auto;
                    //border: 1px solid rgb(14, 146, 223);
                    border-radius: 100px;
                }
            }
        }

        .text_right {
            display: flex;
            justify-content: flex-end;
            margin-top: 5%;

            #mini_pres {
                // padding: 30px;
                // margin-left: 200px;
                text-align: right;
                //border: 1px solid rgb(210, 57, 57);
                border-radius: 10px;
                margin: auto;

                #pres_txt {
                    display: flex;
                    justify-content: flex-end;
                    flex-wrap: wrap;

                    h1 {
                        font-size: 170%;
                    }
                }

                #btn {
                    display: flex;
                    justify-content: space-evenly;
                    padding: 30px;

                    .buttonCV {
                        font-family: $font-family_btn;
                        border: 1px solid #25abe4;
                        background-color: $background-color_btn;
                        color: $color_btn;
                        padding: 20px;
                        border-radius: 10px;
                        text-decoration: none;
                        transition: background 2s, transform 2s;

                        &:hover {
                            background-color: #026b80;
                            border: 1px solid #fff;
                            transform: background 0.5s 0s ease, 
                                        transform 0.5s 0s ease;
                        }
                    }

                    .buttonContact {
                        font-family: $font-family_btn;
                        border: 1px solid #25abe4;
                        background-color: $background-color_btn;
                        color: $color_btn;
                        padding: 20px;
                        border-radius: 10px;
                        text-decoration: none;
                        transition: box-shadow 2s, background-color 2s, text-shadow 2s;

                        &:hover {
                            background-color: #026b80;
                            border: 1px solid #fff;
                            transform: box-shadow 1s 0.5s ease-in, 
                                        text-shadow 0.5s 0s linear, 
                                        background 0.5s 0s linear;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .img_left {
        margin-top: 5%;

        #pres_img {
            padding: 50px;
            margin: auto;
        }
    }
}

@media screen and (max-width: 1024px) {
    .img_left {
        margin-top: 5%;

        #pres_img {
            padding: 50px;
            margin: auto;

            img {
                height: 200px;
                border-radius: 100px;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    #btn{
        gap: 40px;

        .buttonCV{
            width: 110px;
            height: 20px;
            text-align: center;
        }

        .buttonContact{
            width: 110px;
            height: 20px;
        }
    }    
}