$font-family_btn: 'Macondo', cursive;

#accueil {
    background-color: #003566;

    .accueil {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;

        h1 {
            display: block;
            width: fit-content;
            font-size: 4rem;
            position: relative;
            animation: text_reveal 0.5s ease forwards;
            animation-delay: 1s;
            color: transparent;

            &:nth-child(1) {
                animation-delay: 1s;

                span {
                    animation-delay: 0.5s;
                }
            }

            &:nth-child(2) {
                animation-delay: 2s;

                span {
                    animation-delay: 1.5s;
                }
            }

            &:nth-child(3) {
                animation: text_reveal_name 0.5s ease forwards;
                animation-delay: 3s;

                span {
                    animation-delay: 2.5s;
                }
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 0;
                background-color: #FF2416;
                animation: text_reveal_box 1s ease;
                animation-delay: 0.5s;
            }
        }

        .cta {
			display: inline-block;
			padding: 10px 30px;
			margin-right: 10px;
			color: #fff;
			background-color: transparent;
			border: 2px solid crimson;
			font-size: 2rem;
			text-transform: uppercase;
            text-decoration: none;
			letter-spacing: 0.1rem;
			margin-top: 30px;
			transition: 0.3s ease;
			transition-property: background-color, color;

			&:hover {
				color: #fff;
				background-color: #FF2416;
			}
		}
    }
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}

	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: white;
	}
}

@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}

@media screen and (max-width: 1200px) {
    .img_left {
        margin-top: 5%;

        #pres_img {
            padding: 50px;
            margin: auto;
        }
    }
}

@media screen and (max-width: 1024px) {
    .img_left {
        margin-top: 5%;

        #pres_img {
            padding: 50px;
            margin: auto;

            img {
                height: 200px;
                border-radius: 100px;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    
    #btn{
        gap: 10px;
        display: flex;
        flex-direction: column;

        .buttonCV{
            text-align: center;
            width: 80%;
            height: 60px;
        }

        .buttonContact{
            text-align: center;
            width: 80%;
            height: 60px;
        }
    }    
}