$background-color_back : #003566;
$color_p: #fff;

#competences {
    height: 100vh;
    margin-top: 100px;

    .my-skills {
        margin-top: 5rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .skill {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;

            h3 {
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin: 2rem -2px 2rem 0;
            }

            .svg-container {
                width: 10rem;
                height: 10rem;
                border: 3px solid #E45665ff;
                background-color: #003570;
                margin-bottom: 3rem;
                display: flex;
                transform: rotate(45deg);

                svg {
                    fill: #fff;
                    font-size: 5rem;
                    margin: auto;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #competences {
        .my-skills {
            margin-top: 10rem;
            display: flex;
            flex-direction: column;

            .skill {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem;

                h3 {
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin: 2rem -2px 2rem 0;
                }

                .svg-container {
                    width: 10rem;
                    height: 10rem;
                    border: 3px solid #E45665ff;
                    background-color: #003570;
                    margin-bottom: 3rem;
                    display: flex;
                    transform: rotate(45deg);

                    svg {
                        fill: #fff;
                        font-size: 5rem;
                        margin: auto;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}