
$color: #fff;

#footer {
    color: $color;

    .info {
        display: flex;
        justify-content: space-evenly;

        #contact {

            h3 {
                font-size: 40px;
                text-decoration: underline;
            }

            p {
                padding-top: 20px;

                a {
                    svg path{
                        fill: #fff;
                    }
                }
            }
        }

        #reseaux {
            h3 {
                font-size: 40px;
                text-decoration: underline;
            }

            .res0{
                padding-top: 10px;
                a {    
                    svg path{
                        fill: #fff;
                    }
                }
            }
        }
    }
}