.site-footer {
    color: #fff;
    background-color: #003566;

    .container {
        width: 750px;
        height: 100px;

        #copyright {
            text-align: center;
            padding-top: 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    .site-footer {

        .container {
            width: 750px;
            height: 100px;
        }
    }
}