$background-color: #003e52;
$color: #fff;

#footer {
    background-color: $background-color;
    color: $color;

    .info {
        display: flex;
        justify-content: space-evenly;

        #contact {

            h3 {
                font-size: 40px;
                text-decoration: underline;
            }

            p {
                padding-top: 20px;

                a {
                    svg path{
                        fill: #fff;
                    }
                }
            }
        }

        #reseaux {
            h3 {
                font-size: 40px;
                text-decoration: underline;
            }

            a {
                padding-top: 20px;

                svg path{
                    fill: #fff;
                }
            }

        }

    }
}