@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

$background-color_nav: #003566;
$background-color_btn: #fff;
$color_white : #fff;
$color_a: #fe1414;
$color_black: #000;
$font-family_title: 'Smooch', cursive;
$font-family_a: 'Macondo', cursive;

header {
    background-color: #003566;

    .nav {
        height: 50px;
        width: 100%;
        position: relative;

        #nav-check {
            display: none;
        }

        .nav-header {
            display: inline;

            .nav-title {
                display: inline-block;
                font-size: 30px;
                color: #fff;
                padding: 10px 10px 10px 10px;

                span {
                    color: #fe1414;
                }
            }
        }

        .nav-btn {
            display: none;
        }

        .nav-links {
            display: inline;
            float: right;
            font-size: 18px;

            a {
                display: inline-block;
                padding: 13px 10px 13px 10px;
                text-decoration: none;
                color: #efefef;

                &:hover {
                    color: #fe1414;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    header {
        .nav {
            
            #nav-check {
                &:not(:checked)~.nav-links {
                    height: 0px;
                }

                &:checked~.nav-links {
                    height: 400px;
                    overflow-y: auto;
                }
            }

            .nav-btn {
                display: inline-block;
                position: absolute;
                right: 0px;
                top: 0px;

                label {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    padding: 13px;

                    &:hover {
                        background-color: #003566;
                    }

                    span {
                        display: block;
                        width: 25px;
                        height: 10px;
                        border-top: 2px solid #eee;
                    }
                }
            }

            .nav-links {
                position: absolute;
                display: flex;
                flex-direction: column;
                width: 100% ;
                background-color: #003566;
                height: 0px;
                transition: all 0.3s ease-in;
                overflow-y: hidden;
                top: 50px;
                left: 0px;
                z-index: 1;

                a {
                    display: block;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}