$background-color : #003566;
$color_white : #fff;
$color_1 : #BEBEBE;

#presentation {
    margin-top: 50px;

    .container {
        margin-top: 20px;

        #presentation-perso {
            display: flex;
            justify-content: center;

            .pres {
                color: #000;
                font-size: 20px;
                margin: 100px 50px;
            }

            img {
                margin-top: -110px;
            }
        }
    }
}

@media screen and(min-width: 768px) and (max-width: 991px) {
    #presentation {
        .container {
            padding: 0 100px 0 100px;
            height: 50vh;
            margin-top: 100px;

            #presentation-perso {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .pres {
                    margin: 5px;
                }

                img {
                    margin-top: -77px;
                    height: 400px;
                    width: 400px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #presentation {
        .container {
            padding: 0 30px 0 30px;

            #presentation-perso {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .pres {
                    margin: 1px;
                }

                img {
                    margin-top: -77px;
                    height: 300px;
                    width: 300px;
                }
            }
        }
    }
}