$background-color : #003566;
$color_white : #fff;
$color_1 : #BEBEBE;

#presentation {
    height: 100vh;
    margin-top: 100px;

    .container {
        padding: 0 100px 0 100px;

        h1 {
            color: $color_white;
            font-size: 10rem;
            z-index: 0;
            opacity: 0.1;
        }

        height: 100vh;
        margin-top: 100px;

        .presentation-perso {
            max-width: 900px;
            background-color: $background-color;
            box-shadow: 0 0 1.2rem rgb(0, 0, 0, );
            padding: 50px;
            position: relative;
            top: -70px;
            left: 50%;
            right: 50%;
            transform: translateX(-50%);
            z-index: 1;

            p {
                font-size: 1.3rem;
                color: $color_1;

                &:nth-child(2) {
                    margin-top: 30px;
                }

                &:last-child {
                    margin-top: 30px;
                }
            }
        }

        img {
            width: 300px;
            position: relative;
            top: -300px;
            left: 1250px;

        }
    }
}