/* Portfolio section styles */
#portfolio-section {
    background-color: #003566;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 20px;

    #project-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px;

        #flexC {
            grid-column: 1;
            grid-row: 1;
        }

        #kome {
            grid-column: 2;
            grid-row: 1;
        }

        #zanzibar {
            grid-column: 1;
            grid-row: 2;
        }

        #travel {
            grid-column: 2;
            grid-row: 2;
        }

        .thumbnail {
            margin-bottom: 30px;

            .thumbnail-frame {
                position: relative;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: #fff;
                padding: 5px;
                box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);

                .thumbnail-img {
                    height: 360px;
                    width: 100%;
                    object-fit: cover;
                    object-position: 50%;
                }

                .project-description {
                    margin: 5px 0 5px 5px;
                    padding: 10px;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    height: 360px;
                    width: calc(100% - 10px);
                    background-color: rgba(0, 0, 0, 0.8);
                    opacity: 0;
                    transition: opacity 1s;

                    &:hover {
                        opacity: 1;
                    }

                    .project-description-title {
                        text-align: center;
                        font-size: 22px;
                    }

                    .project-description-text {
                        text-align: center;
                        font-style: italic;
                        color: #ddd;
                    }

                    .tags-list {
                        line-height: 35px;
                        margin: 50px;

                        .tag {
                            padding: 5px;
                            background-color: #f05f40;
                            border-radius: 5px;
                        }
                    }

                    .category-separator {
                        font-size: 15px;
                        padding-top: 20px;

                    }

                    .visit-button {
                        padding: 10px;
                        margin: 50px;
                        background-color: #f05f40;
                        border-radius: 3px;
                        color: #fff;

                        &:hover {
                            text-decoration: none;
                            text-shadow: 2px 2px #444;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #portfolio-section {
        #project-gallery {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 30px;

            #flexC {
                grid-column: 1;
                grid-row: 1;
            }

            #kome {
                grid-column: 1;
                grid-row: 2;
            }

            #zanzibar {
                grid-column: 1;
                grid-row: 3;
            }

            #travel {
                grid-column: 1;
                grid-row: 4;
            }

            .thumbnail {
                .project-description {
                    .visit-button {
                        padding: 10px;
                        margin: 10px;
                        background-color: #f05f40;
                        border-radius: 3px;
                        color: #fff;
                    }
                }
            }
        }
    }
}