$box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

#projets {

    .container_portfolio {
        .container_flexcard {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            margin-top: 5rem;

            .container_text_flexcard {
                color: #fff;
                grid-column: 2;
                grid-row: 1;
                text-align: center;
                border: 2px solid #FF2416;
                border-radius: 10px;
                background-color: #003566;

                h3 {
                    font-size: 30px;
                }
            }

            #img_flexcard {
                grid-column: 1;
                grid-row: 1;
                justify-self: center;

                img {
                    border-radius: 10px;
                    height: 300px;
                    box-shadow: $box-shadow;
                    transition: 500ms linear;
                    border: 2px solid #FF2416;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .container_komewaza {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            margin-top: 5rem;

            .container_text_komewaza {
                color: #fff;
                grid-column: 1;
                grid-row: 1;
                text-align: center;
                border: 2px solid #FF2416;
                border-radius: 10px;
                background-color: #003566;

                h3 {
                    font-size: 30px;
                }
            }

            #img_komewaza {
                grid-column: 2;
                grid-row: 1;
                justify-self: center;

                img {
                    border-radius: 10px;
                    height: 300px;
                    box-shadow: $box-shadow;
                    transition: 500ms linear;
                    border: 2px solid #FF2416;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .container_zanzibar {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            margin-top: 5rem;

            .container_text_zanzibar {
                color: #fff;
                grid-column: 2;
                grid-row: 1;
                text-align: center;
                border: 2px solid #FF2416;
                border-radius: 10px;
                background-color: #003566;

                h3 {
                    font-size: 30px;
                }
            }

            #img_zanzibar {
                grid-column: 1;
                grid-row: 1;
                justify-self: center;

                img {
                    border-radius: 10px;
                    height: 300px;
                    box-shadow: $box-shadow;
                    transition: 500ms linear;
                    border: 2px solid #FF2416;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .container_travel {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            margin-top: 5rem;

            .container_text_travel {
                color: #fff;
                grid-column: 1;
                grid-row: 1;
                text-align: center;
                border: 2px solid #FF2416;
                border-radius: 10px;
                background-color: #003566;

                h3 {
                    font-size: 30px;
                }
            }

            #img_travel {
                grid-column: 2;
                grid-row: 1;
                justify-self: center;

                img {
                    border-radius: 10px;
                    height: 300px;
                    box-shadow: $box-shadow;
                    transition: 500ms linear;
                    border: 2px solid #FF2416;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #projets {
        .container_portfolio {
            .container_flexcard {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 10px;
                margin-top: 5rem;

                .container_text_flexcard {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    color: #fff;
                    grid-column: 1;
                    grid-row: 1;
                    text-align: center;
                }

                #img_flexcard {
                    grid-column: 1;
                    grid-row: 2;
                    justify-self: center;

                    img {
                        border-radius: 10px;
                        height: 300px;
                        box-shadow: $box-shadow;
                        transition: 500ms linear;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .container_komewaza {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 10px;
                margin-top: 5rem;

                .container_text_komewaza {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    color: #fff;
                    grid-column: 1;
                    grid-row: 1;
                    text-align: center;
                }

                #img_komewaza {
                    grid-column: 1;
                    grid-row: 2;
                    justify-self: center;

                    img {
                        border-radius: 10px;
                        height: 300px;
                        box-shadow: $box-shadow;
                        transition: 500ms linear;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .container_zanzibar {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 10px;
                margin-top: 5rem;

                .container_text_zanzibar {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    color: #fff;
                    grid-column: 1;
                    grid-row: 1;
                    text-align: center;
                }

                #img_zanzibar {
                    grid-column: 1;
                    grid-row: 2;
                    justify-self: center;

                    img {
                        border-radius: 10px;
                        height: 300px;
                        box-shadow: $box-shadow;
                        transition: 500ms linear;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .container_travel {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 10px;
                margin-top: 5rem;

                .container_text_travel {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    color: #fff;
                    grid-column: 1;
                    grid-row: 1;
                    text-align: center;
                }

                #img_travel {
                    grid-column: 1;
                    grid-row: 2;
                    justify-self: center;

                    img {
                        border-radius: 10px;
                        height: 300px;
                        box-shadow: $box-shadow;
                        transition: 500ms linear;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #projets {
        height: 180vh;

        .container_portfolio {
            height: 150vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .container_flexcard {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                margin-top: 5rem;
                height: 100px;
                width: 20px;

                .container_text_flexcard {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    color: #fff;
                    grid-column: 1;
                    grid-row: 1;
                    text-align: center;
                }

                #img_flexcard {
                    grid-column: 1;
                    grid-row: 2;
                    justify-self: center;

                    img {
                        border-radius: 10px;
                        height: 150px;
                        box-shadow: $box-shadow;
                        transition: 500ms linear;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .container_komewaza {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                margin-top: 20rem;
                height: 100px;
                width: 20px;

                .container_text_komewaza {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    color: #fff;
                    grid-column: 1;
                    grid-row: 1;
                    text-align: center;
                }

                #img_komewaza {
                    grid-column: 1;
                    grid-row: 2;
                    justify-self: center;

                    img {
                        border-radius: 10px;
                        height: 150px;
                        box-shadow: $box-shadow;
                        transition: 500ms linear;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .container_zanzibar {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                margin-top: 20rem;
                height: 100px;
                width: 20px;

                .container_text_zanzibar {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    color: #fff;
                    grid-column: 1;
                    grid-row: 1;
                    text-align: center;
                }

                #img_zanzibar {
                    grid-column: 1;
                    grid-row: 2;
                    justify-self: center;

                    img {
                        border-radius: 10px;
                        height: 150px;
                        box-shadow: $box-shadow;
                        transition: 500ms linear;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .container_travel {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                margin-top: 20rem;
                height: 100px;
                width: 20px;

                .container_text_travel {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    color: #fff;
                    grid-column: 1;
                    grid-row: 1;
                    text-align: center;
                }

                #img_travel {
                    grid-column: 1;
                    grid-row: 2;
                    justify-self: center;

                    img {
                        border-radius: 10px;
                        height: 150px;
                        box-shadow: $box-shadow;
                        transition: 500ms linear;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}