#techno {
    .container-techno {
        padding: 1px 5px;
        margin: 40px 0;
        display: flex;
        justify-content: space-evenly;


        .container-bar-front {

            h3 {
                text-align: center;
            }

            .container-bar {
                width: 300px;

                p {
                    font-size: 15px;
                    padding-top: 10px;
                    text-align: left;
                    font-weight: 600;
                }

                .progress {
                    padding: 2px;
                    background: #b3b4b6;
                    border-radius: 5px;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);

                    .progress-bar-html {
                        background-color: #003566;
                        width: 80%;
                        animation: progressAnimationStrike 6s;
                        text-align: right;
                        padding-right: 10px;

                        .pourcent {
                            color: #003566;
                            font-weight: 600;
                        }
                    }

                    .progress-bar-css {
                        background-color: #003566;
                        width: 80%;
                        animation: progressAnimationStrike 6s;
                        text-align: right;
                        padding-right: 10px;

                        .pourcent {
                            color: #003566;
                            font-weight: 600;
                        }
                    }

                    .progress-bar-sass {
                        background-color: #003566;
                        width: 80%;
                        animation: progressAnimationStrike 6s;
                        text-align: right;
                        padding-right: 10px;

                        .pourcent {
                            color: #003566;
                            font-weight: 600;
                        }
                    }

                    .progress-bar-bootstrap {
                        background-color: #003566;
                        width: 80%;
                        animation: progressAnimationStrike 6s;
                        text-align: right;
                        padding-right: 10px;

                        .pourcent {
                            color: #003566;
                            font-weight: 600;
                        }
                    }

                    .progress-bar-javascript {
                        background-color: #003566;
                        width: 80%;
                        animation: progressAnimationStrike 6s;
                        text-align: right;
                        padding-right: 10px;

                        .pourcent {
                            color: #003566;
                            font-weight: 600;
                        }
                    }

                    .progress-bar-reactjs {
                        background-color: #003566;
                        width: 80%;
                        animation: progressAnimationStrike 6s;
                        text-align: right;
                        padding-right: 10px;

                        .pourcent {
                            color: #003566;
                            font-weight: 600;
                        }
                    }

                    .progress-bar-vuejs {
                        background-color: #003566;
                        width: 80%;
                        animation: progressAnimationStrike 6s;
                        text-align: right;
                        padding-right: 10px;

                        .pourcent {
                            color: #003566;
                            font-weight: 600;
                        }
                    }

                    .progress-bar-github {
                        background-color: #003566;
                        width: 80%;
                        animation: progressAnimationStrike 6s;
                        text-align: right;
                        padding-right: 10px;

                        .pourcent {
                            color: #003566;
                            font-weight: 600;
                        }
                    }

                    .progress-bar-sass {
                        background-color: #003566;
                        width: 80%;
                        animation: progressAnimationStrike 6s;
                        text-align: right;
                        padding-right: 10px;

                        .pourcent {
                            color: #003566;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .container-bar-back {

            h3 {
                text-align: center;
            }

            .container-bar {
                width: 300px;

                p {
                    font-size: 15px;
                    padding-top: 10px;
                    text-align: left;
                    font-weight: 600;
                }

                .progress {
                    padding: 2px;
                    background: #b3b4b6;
                    border-radius: 5px;
                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);

                    .progress-bar-sql {
                        background-color: #003566;
                        width: 80%;
                        animation: progressAnimationStrike 6s;
                        text-align: right;
                        padding-right: 10px;

                        .pourcent {
                            color: #003566;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .container-bar-CMS {

            h3 {
                text-align: center;
            }

            .container-bar {
                width: 300px;

                p {
                    font-size: 15px;
                    padding-top: 10px;
                    text-align: left;
                    font-weight: 600;
                }

                .progress {
                    padding: 2px;
                    background: #b3b4b6;
                    border-radius: 5px;
                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);

                    .progress-bar-wordpress {
                        background-color: #003566;
                        width: 80%;
                        animation: progressAnimationStrike 6s;
                        text-align: right;
                        padding-right: 10px;

                        .pourcent {
                            color: #003566;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .container-bar-divers {

            h3 {
                text-align: center;

            }

            .container-bar {
                width: 300px;

                p {
                    font-size: 15px;
                    padding-top: 10px;
                    text-align: left;
                    font-weight: 600;
                }

                .progress {
                    padding: 2px;
                    background: #b3b4b6;
                    border-radius: 5px;
                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);

                    .progress-bar-github {
                        background-color: #003566;
                        width: 80%;
                        animation: progressAnimationStrike 6s;
                        text-align: right;
                        padding-right: 10px;

                        .pourcent {
                            color: #003566;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

@keyframes progressAnimationStrike {
    from {
        width: 0
    }

    to {
        width: 80%
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #techno {
        .container-techno {
            padding: 1px 5px;
            margin: 40px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;


            .container-bar-front {
                grid-column: 1;
                grid-row: 1;
                justify-self: center;
            }

            .container-bar-back {
                grid-column: 2;
                grid-row: 1;
                justify-self: center;
            }

            .container-bar-CMS {
                grid-column: 1;
                grid-row: 2;
                justify-self: center;

                h3 {
                    text-align: center;
                    margin-top: 20px;
                }
            }

            .container-bar-divers {
                grid-column: 2;
                grid-row: 2;
                justify-self: center;

                h3 {
                    text-align: center;
                    margin-top: 20px;
                }

            }
        }
    }
}

@media screen and (max-width: 767px) {
    #techno {
        .container-techno {
            padding: 1px 5px;
            margin: 40px 0;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;


            .container-bar-front {
                grid-column: 1;
                grid-row: 1;
                justify-self: center;
            }

            .container-bar-back {
                grid-column: 1;
                grid-row: 2;
                justify-self: center;

                h3 {
                    margin-top: 30px;
                }

            }

            .container-bar-CMS {
                grid-column: 1;
                grid-row: 3;
                justify-self: center;
            }

            .container-bar-divers {
                grid-column: 1;
                grid-row: 4;
                justify-self: center;

            }
        }
    }
}