#techno {

    .container-techno {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-height: 100vh;
    }

    .card {
        position: relative;
        width: 300px;
        height: 350px;
        margin: 20px;
        border-radius: 20px;
        transition: 0.5s;
        transition-delay: 0.5s;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:hover {
            width: 600px;
            transition-delay: 0.5s;

            .logo-f {
                transform: scale(0);
                transition-delay: 0.5s;
            }

            .content {
                left: 0;
                opacity: 1;
                visibility: visible;
                transition-delay: 0.5s;
            }

            .logo-b {
                left: 72%;
                transform: translate(-50%, -50%) scale(1);
                transition-delay: 0.5s;
            }
        }

        .circle {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: var(--clr);
                clip-path: circle(120px at center);
                transition: 0.5s;
            }

            .logo-f {
                position: relative;
                width: 100px;
                height: 100px;
                transition: 0.5s;
                transition-delay: 0.5s;
            }
        }

        .content {
            position: relative;
            width: 50%;
            left: 20%;
            padding: 20px 20px 20px 40px;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;

            h2 {
                color: #000;
                text-transform: uppercase;
                font-size: 2.5em;
                line-height: 1em;
            }

            p {
                color: #000;
            }
        }
    }

    .card:hover .circle::before {
        clip-path: circle(400px at center);
    }


    .logo-b {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        height: 200px;
        transform: 0.5s;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #techno {

        .container-techno {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            min-height: 100vh;
        }

        .card {
            width: auto;
            max-width: 350px;
            align-items: flex-start;

            &:hover {
                height: 600px;

                .logo-b {
                    top: initial;
                    bottom: 30px;
                    left: 50%;
                    transform: translate(-50%, 0%) scale(1);
                    height: 100px;
                }
            }

            .circle{
                .logo-f {
                    position: relative;
                    width: 100px;
                    height: 100px;
                    transition: 0.5s;
                    transition-delay: 0.5s;
                }
            }

            .content {
                width: 100%;
                left: 0;
                padding: 40px;
            }
        }
        .logo-b {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            height: 100px;
            transform: 0.5s;
        }
    }
}

@media screen and (max-width: 767px) {
    #techno {

        .container-techno {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            min-height: 100vh;
        }

        .card {
            width: auto;
            max-width: 350px;
            align-items: flex-start;

            &:hover {
                height: 600px;

                .logo-b {
                    top: initial;
                    bottom: 30px;
                    left: 50%;
                    transform: translate(-50%, 0%) scale(1);
                    height: 300px;
                }
            }

            .content {
                width: 100%;
                left: 0;
                padding: 40px;
            }
        }

        .logo-b {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            height: 10  0px;
            transform: 0.5s;
        }
    }
}