@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
header {
  background-color: #003566;
}

header .nav {
  height: 50px;
  width: 100%;
  position: relative;
}

header .nav #nav-check {
  display: none;
}

header .nav .nav-header {
  display: inline;
}

header .nav .nav-header .nav-title {
  display: inline-block;
  font-size: 30px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

header .nav .nav-header .nav-title span {
  color: #fe1414;
}

header .nav .nav-btn {
  display: none;
}

header .nav .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

header .nav .nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

header .nav .nav-links a:hover {
  color: #fe1414;
}

@media screen and (max-width: 1200px) {
  header .nav #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  header .nav #nav-check:checked ~ .nav-links {
    height: 400px;
    overflow-y: auto;
  }
  header .nav .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  header .nav .nav-btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  header .nav .nav-btn label:hover {
    background-color: #003566;
  }
  header .nav .nav-btn label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  header .nav .nav-links {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: #003566;
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 1;
  }
  header .nav .nav-links a {
    display: block;
    text-align: center;
    width: 100%;
  }
}

#accueil {
  background-color: #003566;
}

#accueil .accueil {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#accueil .accueil h1 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  -webkit-animation: text_reveal 0.5s ease forwards;
          animation: text_reveal 0.5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  color: transparent;
}

#accueil .accueil h1:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#accueil .accueil h1:nth-child(1) span {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#accueil .accueil h1:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#accueil .accueil h1:nth-child(2) span {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#accueil .accueil h1:nth-child(3) {
  -webkit-animation: text_reveal_name 0.5s ease forwards;
          animation: text_reveal_name 0.5s ease forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#accueil .accueil h1:nth-child(3) span {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

#accueil .accueil h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #FF2416;
  -webkit-animation: text_reveal_box 1s ease;
          animation: text_reveal_box 1s ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#accueil .accueil .cta {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 10px;
  color: #fff;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

#accueil .accueil .cta:hover {
  color: #fff;
  background-color: #FF2416;
}

@-webkit-keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@-webkit-keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}

@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}

@media screen and (max-width: 1200px) {
  .img_left {
    margin-top: 5%;
  }
  .img_left #pres_img {
    padding: 50px;
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  .img_left {
    margin-top: 5%;
  }
  .img_left #pres_img {
    padding: 50px;
    margin: auto;
  }
  .img_left #pres_img img {
    height: 200px;
    border-radius: 100px;
  }
}

@media screen and (max-width: 768px) {
  #btn {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #btn .buttonCV {
    text-align: center;
    width: 80%;
    height: 60px;
  }
  #btn .buttonContact {
    text-align: center;
    width: 80%;
    height: 60px;
  }
}

#competences {
  height: 120vh;
  margin-top: 100px;
  margin-bottom: 100px;
}

#competences .my-skills {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0px;
}

#competences .my-skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

#competences .my-skills .skill .svg-container {
  width: 300px;
  height: 300px;
  border: 3px solid #FF2416;
  background-color: #003570;
  border-radius: 10px;
  margin-bottom: 1rem;
}

#competences .my-skills .skill .svg-container img {
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}

#competences .my-skills .skill .svg-container h2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

#competences .my-skills .skill .svg-container p {
  color: white;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  #competences {
    height: 120vh;
    margin-top: 100px;
  }
  #competences .my-skills {
    margin-top: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0px;
  }
  #competences .my-skills .skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  #competences .my-skills .skill .svg-container {
    width: 300px;
    height: 300px;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  #competences {
    height: 180vh;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  #competences .my-skills {
    margin-top: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0px;
  }
  #competences .my-skills .skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  #competences .my-skills .skill .svg-container {
    width: 300px;
    height: 300px;
    margin-bottom: 3rem;
  }
}

.Skills-bio_image {
  height: 75vh;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Skills .skills_items {
  width: 80%;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}

@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}

.Skills .skills_items .progresss {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
}

.Skills .skills_items .progresss > li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #000;
  font-family: Lato;
  font-weight: 100;
  margin: 2rem;
}

.Skills .skills_items .progresss > li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}

.Skills .skills_items .progresss > li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 3.7rem;
  left: 0;
  font-size: 2rem;
  text-align: center;
}

.Skills .skills_items .progresss svg {
  width: 10rem;
  height: 10rem;
  fill: #003566;
}

.Skills .skills_items .progresss svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.Skills .skills_items .progresss svg:nth-child(2) path {
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 629;
  stroke: #003566;
  opacity: .9;
  -webkit-animation: load 10s;
          animation: load 10s;
}

#presentation .container {
  padding: 0 100px 0 100px;
  height: 100vh;
  margin-top: 100px;
}

#presentation .container #presentation-perso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-top: 100px;
  background-color: #003566;
  -webkit-box-shadow: 0 0 1.2rem black;
          box-shadow: 0 0 1.2rem black;
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#presentation .container #presentation-perso p {
  color: #fff;
  font-size: 20px;
}

#presentation .container #presentation-perso img {
  margin-top: -110px;
}

@media screen and (max-width: 991px) {
  #presentation .container {
    padding: 0 100px 0 100px;
    height: 50vh;
    margin-top: 100px;
  }
  #presentation .container #presentation-perso {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #presentation .container #presentation-perso p {
    color: #fff;
    font-size: 20px;
  }
  #presentation .container #presentation-perso img {
    margin-top: 5px;
  }
}

/* Portfolio section styles */
#portfolio-section {
  background-color: #003566;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
}

#portfolio-section #project-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}

#portfolio-section #project-gallery #flexC {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

#portfolio-section #project-gallery #kome {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

#portfolio-section #project-gallery #zanzibar {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

#portfolio-section #project-gallery #travel {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

#portfolio-section #project-gallery .thumbnail {
  margin-bottom: 30px;
}

#portfolio-section #project-gallery .thumbnail .thumbnail-frame {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
}

#portfolio-section #project-gallery .thumbnail .thumbnail-frame .thumbnail-img {
  height: 360px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}

#portfolio-section #project-gallery .thumbnail .thumbnail-frame .project-description {
  margin: 5px 0 5px 5px;
  padding: 10px;
  position: absolute;
  top: 0px;
  left: 0;
  height: 360px;
  width: calc(100% - 10px);
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#portfolio-section #project-gallery .thumbnail .thumbnail-frame .project-description:hover {
  opacity: 1;
}

#portfolio-section #project-gallery .thumbnail .thumbnail-frame .project-description .project-description-title {
  text-align: center;
  font-size: 22px;
}

#portfolio-section #project-gallery .thumbnail .thumbnail-frame .project-description .project-description-text {
  text-align: center;
  font-style: italic;
  color: #ddd;
}

#portfolio-section #project-gallery .thumbnail .thumbnail-frame .project-description .category-separator {
  font-size: 15px;
  padding-top: 20px;
}

#portfolio-section #project-gallery .thumbnail .thumbnail-frame .project-description .tags-list {
  line-height: 35px;
  margin: 50px;
}

#portfolio-section #project-gallery .thumbnail .thumbnail-frame .project-description .tags-list .tag {
  padding: 5px;
  background-color: #f05f40;
  border-radius: 5px;
}

#portfolio-section #project-gallery .thumbnail .thumbnail-frame .project-description .visit-button {
  padding: 10px;
  margin: 50px;
  background-color: #f05f40;
  border-radius: 3px;
  color: #fff;
}

#portfolio-section #project-gallery .thumbnail .thumbnail-frame .project-description .visit-button:hover {
  text-decoration: none;
  text-shadow: 2px 2px #444;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  #portfolio-section #project-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
  }
  #portfolio-section #project-gallery #flexC {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #portfolio-section #project-gallery #kome {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #portfolio-section #project-gallery #zanzibar {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  #portfolio-section #project-gallery #travel {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

footer .container {
  padding: 0 100px 0 100px;
}

footer .container #contact {
  height: 100vh;
  margin-top: 100px;
}

footer .container #contact .contact-perso {
  max-width: 900px;
  margin-top: 100px;
  background-color: #003566;
  -webkit-box-shadow: 0 0 1.2rem black;
          box-shadow: 0 0 1.2rem black;
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .container #contact .contact-perso #contact_perso {
  font-size: 1.3rem;
  color: #BEBEBE;
  text-align: center;
}

footer .container #contact .contact-perso #contact_perso:nth-child(2) {
  margin-top: 30px;
}

footer .container #contact .contact-perso #contact_perso:last-child {
  margin-top: 30px;
}

footer .container #contact .contact-perso #contact_perso a {
  text-decoration: none;
}

footer .container #contact .contact-perso #contact_perso a svg {
  fill: #fff;
}

footer .container #contact .contact-perso h3 {
  color: #fff;
  text-align: center;
  margin: 50px 0;
  font-size: 40px;
}

footer .container #contact .contact-perso #reseaux {
  font-size: 1.3rem;
  text-align: center;
}

footer .container #contact .contact-perso #reseaux .linkedin {
  margin-right: 50px;
}

footer .container #contact .contact-perso #reseaux .linkedin svg {
  fill: #fff;
}

footer .container #contact .contact-perso #reseaux .linkedin svg:hover {
  background-color: #fff;
  fill: #003566;
}

footer .container #contact .contact-perso #reseaux .github {
  margin-left: 50px;
}

footer .container #contact .contact-perso #reseaux .github svg {
  fill: #fff;
}

footer .container #contact .contact-perso #reseaux .github svg:hover {
  background-color: #fff;
  fill: #003566;
}

footer .container #contact .contact-perso h4 {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  footer .container {
    padding: 0 100px 0 100px;
  }
  footer .container #contact {
    height: 100vh;
    margin-top: 100px;
  }
  footer .container #contact .contact-perso {
    max-width: 900px;
    margin-top: 100px;
    background-color: #003566;
    -webkit-box-shadow: 0 0 1.2rem black;
            box-shadow: 0 0 1.2rem black;
    padding: 50px;
    position: relative;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
  footer .container {
    padding: 0 100px 0 100px;
  }
  footer .container #contact {
    height: 100vh;
    margin-top: 100px;
  }
  footer .container #contact .contact-perso {
    max-width: 900px;
  }
  footer .container #contact .contact-perso #contact_perso {
    font-size: 1.3rem;
    color: #BEBEBE;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container #contact .contact-perso #reseaux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-image: #fff;
}

body section {
  padding: 30px 0 60px 0;
}

body h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

body h1 span {
  color: red;
}

body h4 {
  font-size: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 300;
  word-spacing: 8px;
}

body .container {
  width: 90%;
  max-width: 120rem;
  height: 40%;
  margin: 0 auto;
  position: relative;
}

body .title {
  text-align: center;
}

body .title .ribbon-left {
  border-right: 0;
  border-left: 12px solid transparent !important;
  margin-right: 13px;
}

body .title .light-ribbon {
  display: inline-block;
  border: 12px solid #fff;
  border-radius: 2px;
  width: 40px;
}

body .title .dark-ribbon {
  display: inline-block;
  border: 12px solid #FF2416;
  border-radius: 2px;
  width: 40px;
}

body .title .section-title {
  font-size: 50px;
  font-family: 'Yellowtail', cursive;
  display: inline-block;
  color: #003566;
}

body .title .section-title-light {
  font-size: 50px;
  font-family: 'Yellowtail', cursive;
  display: inline-block;
  color: #fff;
}

body .title .ribbon-right {
  border-left: 0;
  border-right: 12px solid transparent !important;
  margin-left: 13px;
}

body #scrollUp #button {
  display: inline-block;
  background-color: #003566;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 100px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  z-index: 1000;
  opacity: 0.3;
}

body #scrollUp #button:hover {
  cursor: pointer;
  background-color: #FF2416;
  opacity: 1;
}

body #scrollUp #button:active {
  background-color: #FF2416;
}

body #scrollUp #button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

body #scrollUp #button .show {
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */