@import "header";
@import "accueil";
@import "competences";
@import "technologies";
@import "presentation";
@import "projet";
@import "footer";

$color_1: #003566;
$background-color_h2: #feed05;
$font-family_h2: 'Macondo', cursive;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: #fff;

    section {
        padding: 30px 0 60px 0;
    }

    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        color: black;
        text-align: center;

        span {
            color: red;
        }
    }

    h4 {
        font-size: 100%;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: 300;
        word-spacing: 8px;
    }

    .container {
        width: 90%;
        max-width: 120rem;
        height: 40%;
        margin: 0 auto;
        position: relative;
    }

    .title {
        text-align: center;

        .ribbon-left {
            border-right: 0;
            border-left: 12px solid transparent !important;
            margin-right: 13px;
        }

        .light-ribbon {
            display: inline-block;
            border: 12px solid #fff;
            border-radius: 2px;
            width: 40px;
        }

        .dark-ribbon {
            display: inline-block;
            border: 12px solid #FF2416;
            border-radius: 2px;
            width: 40px;
        }


        .section-title {
            font-size: 50px;
            font-family: 'Yellowtail', cursive;
            display: inline-block;
            color: #003566;
        }

        .section-title-light {
            font-size: 50px;
            font-family: 'Yellowtail', cursive;
            display: inline-block;
            color: #fff;
        }

        .ribbon-right {
            border-left: 0;
            border-right: 12px solid transparent !important;
            margin-left: 13px;
        }

    }

    #scrolltop {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.5s ease-in;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #003566;
        border-radius: 20%;
        height: 50px;

        &:hover {
            background-color: #FF2416;
        }

        .top-button {
            text-decoration: none;
            cursor: pointer;
            padding: 20px;
            color: #fff;

            i {
                padding-top: 10px;
            }
        }
    }
}