@charset "UTF-8";
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #003566;
  color: #fff;
}
header .navbar .logo img {
  height: 60px;
  width: 100%;
}
header .navbar .nav-links input[type=checkbox] {
  display: none;
}
header .navbar .nav-links .hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .navbar .nav-links .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
header .navbar .nav-links .menu li {
  list-style: none;
  padding: 5px 14px;
}
header .navbar .nav-links .menu li:hover {
  background-color: #FF2416;
  border-radius: 5px;
  transition: 0.3s ease;
}
header .navbar .nav-links .menu li a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 991px) {
  header .navbar .logo {
    z-index: 3;
  }
  header .navbar .logo img {
    height: 60px;
    width: 100%;
  }
  header .navbar .nav-links input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  header .navbar .nav-links .hamburger {
    display: block;
  }
  header .navbar .nav-links .menu {
    display: none;
    position: absolute;
    background-color: #003566;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    z-index: 2;
  }
  header .navbar .nav-links .menu li {
    margin-top: 12px;
  }
  header .navbar .nav-links .menu li:hover {
    display: inline-block;
    background-color: #FF2416;
  }
}
#accueil {
  background-image: url("../images/pc_background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
}
#accueil .accueil {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  margin-top: 50px;
  justify-content: flex-start;
}
#accueil .accueil h1 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  -webkit-animation: text_reveal 0.5s ease forwards;
          animation: text_reveal 0.5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  color: transparent;
}
#accueil .accueil h1:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#accueil .accueil h1:nth-child(1) span {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
#accueil .accueil h1:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#accueil .accueil h1:nth-child(2) span {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
#accueil .accueil h1:nth-child(3) {
  -webkit-animation: text_reveal_name 0.5s ease forwards;
          animation: text_reveal_name 0.5s ease forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
#accueil .accueil h1:nth-child(3) span {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
#accueil .accueil h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #FF2416;
  -webkit-animation: text_reveal_box 1s ease;
          animation: text_reveal_box 1s ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
#accueil .accueil .cta {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 10px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fd2416;
  border-radius: 5px;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
#accueil .accueil .cta:hover {
  color: #fff;
  background-color: #FF2416;
}

@-webkit-keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes text_reveal {
  100% {
    color: white;
    font-weight: 500;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
    font-weight: 500;
  }
}
@-webkit-keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}
@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}
@media screen and (max-width: 1200px) {
  .img_left {
    margin-top: 5%;
  }
  .img_left #pres_img {
    padding: 50px;
    margin: auto;
  }
}
@media screen and (max-width: 1024px) {
  #accueil {
    min-height: 650px;
  }
  #accueil .img_left {
    margin-top: 5%;
  }
  #accueil .img_left #pres_img {
    padding: 50px;
    margin: auto;
  }
  #accueil .img_left #pres_img img {
    height: 200px;
    border-radius: 100px;
  }
}
@media screen and (max-width: 768px) {
  #accueil {
    min-height: 900px;
  }
  #accueil #btn {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  #accueil #btn .buttonCV {
    text-align: center;
    width: 80%;
    height: 60px;
  }
  #accueil #btn .buttonContact {
    text-align: center;
    width: 80%;
    height: 60px;
  }
}
#competences .my-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#competences .my-skills .skill-wp {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#competences .my-skills .skill-wp .svg-container {
  width: 300px;
  height: 300px;
  border: 3px solid #003570;
  background-color: #003570;
  border-radius: 10px;
  margin-bottom: 1rem;
}
#competences .my-skills .skill-wp .svg-container img {
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}
#competences .my-skills .skill-wp .svg-container h2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}
#competences .my-skills .skill-wp .svg-container p {
  color: white;
  text-align: center;
  font-size: 12px;
}
#competences .my-skills .skill-dev {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#competences .my-skills .skill-dev .svg-container {
  width: 300px;
  height: 300px;
  border: 3px solid #003570;
  background-color: #003570;
  border-radius: 10px;
  margin-bottom: 1rem;
}
#competences .my-skills .skill-dev .svg-container img {
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}
#competences .my-skills .skill-dev .svg-container h2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}
#competences .my-skills .skill-dev .svg-container p {
  color: white;
  text-align: center;
  font-size: 12px;
}
#competences .my-skills .skill-resp {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#competences .my-skills .skill-resp .svg-container {
  width: 300px;
  height: 300px;
  border: 3px solid #003570;
  background-color: #003570;
  border-radius: 10px;
  margin-bottom: 1rem;
}
#competences .my-skills .skill-resp .svg-container img {
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}
#competences .my-skills .skill-resp .svg-container h2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}
#competences .my-skills .skill-resp .svg-container p {
  color: white;
  text-align: center;
  font-size: 12px;
}
#competences .my-skills .skill-icon {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#competences .my-skills .skill-icon .svg-container {
  width: 300px;
  height: 300px;
  border: 3px solid #003570;
  background-color: #003570;
  border-radius: 10px;
  margin-bottom: 1rem;
}
#competences .my-skills .skill-icon .svg-container img {
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}
#competences .my-skills .skill-icon .svg-container h2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}
#competences .my-skills .skill-icon .svg-container p {
  color: white;
  text-align: center;
  font-size: 12px;
}
#competences .my-skills .skill-team {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#competences .my-skills .skill-team .svg-container {
  width: 300px;
  height: 300px;
  border: 3px solid #003570;
  background-color: #003570;
  border-radius: 10px;
  margin-bottom: 1rem;
}
#competences .my-skills .skill-team .svg-container img {
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}
#competences .my-skills .skill-team .svg-container h2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
}
#competences .my-skills .skill-team .svg-container p {
  color: white;
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  #competences {
    margin-top: 20px;
  }
  #competences .my-skills {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #competences .my-skills .skill-wp {
    grid-column: 1;
    grid-row: 1;
  }
  #competences .my-skills .skill-dev {
    grid-column: 2;
    grid-row: 1;
  }
  #competences .my-skills .skill-resp {
    grid-column: 1;
    grid-row: 2;
  }
  #competences .my-skills .skill-icon {
    grid-column: 2;
    grid-row: 2;
  }
  #competences .my-skills .skill-team {
    grid-column: 1;
    grid-row: 3;
  }
}
@media screen and (max-width: 767px) {
  #competences {
    margin-top: 20px;
  }
  #competences .my-skills {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }
  #competences .my-skills .skill-wp {
    grid-column: 1;
    grid-row: 1;
  }
  #competences .my-skills .skill-dev {
    grid-column: 1;
    grid-row: 2;
  }
  #competences .my-skills .skill-resp {
    grid-column: 1;
    grid-row: 3;
  }
  #competences .my-skills .skill-icon {
    grid-column: 1;
    grid-row: 4;
  }
  #competences .my-skills .skill-team {
    grid-column: 1;
    grid-row: 5;
  }
}
#techno .container-techno {
  padding: 1px 5px;
  margin: 40px 0;
  display: flex;
  justify-content: space-evenly;
}
#techno .container-techno .container-bar-front h3 {
  text-align: center;
}
#techno .container-techno .container-bar-front .container-bar {
  width: 300px;
}
#techno .container-techno .container-bar-front .container-bar p {
  font-size: 15px;
  padding-top: 10px;
  text-align: left;
  font-weight: 600;
}
#techno .container-techno .container-bar-front .container-bar .progress {
  padding: 2px;
  background: #b3b4b6;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-html {
  background-color: #003566;
  width: 80%;
  -webkit-animation: progressAnimationStrike 6s;
          animation: progressAnimationStrike 6s;
  text-align: right;
  padding-right: 10px;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-html .pourcent {
  color: #003566;
  font-weight: 600;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-css {
  background-color: #003566;
  width: 80%;
  -webkit-animation: progressAnimationStrike 6s;
          animation: progressAnimationStrike 6s;
  text-align: right;
  padding-right: 10px;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-css .pourcent {
  color: #003566;
  font-weight: 600;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-sass {
  background-color: #003566;
  width: 80%;
  -webkit-animation: progressAnimationStrike 6s;
          animation: progressAnimationStrike 6s;
  text-align: right;
  padding-right: 10px;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-sass .pourcent {
  color: #003566;
  font-weight: 600;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-bootstrap {
  background-color: #003566;
  width: 80%;
  -webkit-animation: progressAnimationStrike 6s;
          animation: progressAnimationStrike 6s;
  text-align: right;
  padding-right: 10px;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-bootstrap .pourcent {
  color: #003566;
  font-weight: 600;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-javascript {
  background-color: #003566;
  width: 80%;
  -webkit-animation: progressAnimationStrike 6s;
          animation: progressAnimationStrike 6s;
  text-align: right;
  padding-right: 10px;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-javascript .pourcent {
  color: #003566;
  font-weight: 600;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-reactjs {
  background-color: #003566;
  width: 80%;
  -webkit-animation: progressAnimationStrike 6s;
          animation: progressAnimationStrike 6s;
  text-align: right;
  padding-right: 10px;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-reactjs .pourcent {
  color: #003566;
  font-weight: 600;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-vuejs {
  background-color: #003566;
  width: 80%;
  -webkit-animation: progressAnimationStrike 6s;
          animation: progressAnimationStrike 6s;
  text-align: right;
  padding-right: 10px;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-vuejs .pourcent {
  color: #003566;
  font-weight: 600;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-github {
  background-color: #003566;
  width: 80%;
  -webkit-animation: progressAnimationStrike 6s;
          animation: progressAnimationStrike 6s;
  text-align: right;
  padding-right: 10px;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-github .pourcent {
  color: #003566;
  font-weight: 600;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-sass {
  background-color: #003566;
  width: 80%;
  -webkit-animation: progressAnimationStrike 6s;
          animation: progressAnimationStrike 6s;
  text-align: right;
  padding-right: 10px;
}
#techno .container-techno .container-bar-front .container-bar .progress .progress-bar-sass .pourcent {
  color: #003566;
  font-weight: 600;
}
#techno .container-techno .container-bar-back h3 {
  text-align: center;
}
#techno .container-techno .container-bar-back .container-bar {
  width: 300px;
}
#techno .container-techno .container-bar-back .container-bar p {
  font-size: 15px;
  padding-top: 10px;
  text-align: left;
  font-weight: 600;
}
#techno .container-techno .container-bar-back .container-bar .progress {
  padding: 2px;
  background: #b3b4b6;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
#techno .container-techno .container-bar-back .container-bar .progress .progress-bar-sql {
  background-color: #003566;
  width: 80%;
  -webkit-animation: progressAnimationStrike 6s;
          animation: progressAnimationStrike 6s;
  text-align: right;
  padding-right: 10px;
}
#techno .container-techno .container-bar-back .container-bar .progress .progress-bar-sql .pourcent {
  color: #003566;
  font-weight: 600;
}
#techno .container-techno .container-bar-CMS h3 {
  text-align: center;
}
#techno .container-techno .container-bar-CMS .container-bar {
  width: 300px;
}
#techno .container-techno .container-bar-CMS .container-bar p {
  font-size: 15px;
  padding-top: 10px;
  text-align: left;
  font-weight: 600;
}
#techno .container-techno .container-bar-CMS .container-bar .progress {
  padding: 2px;
  background: #b3b4b6;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
#techno .container-techno .container-bar-CMS .container-bar .progress .progress-bar-wordpress {
  background-color: #003566;
  width: 80%;
  -webkit-animation: progressAnimationStrike 6s;
          animation: progressAnimationStrike 6s;
  text-align: right;
  padding-right: 10px;
}
#techno .container-techno .container-bar-CMS .container-bar .progress .progress-bar-wordpress .pourcent {
  color: #003566;
  font-weight: 600;
}
#techno .container-techno .container-bar-divers h3 {
  text-align: center;
}
#techno .container-techno .container-bar-divers .container-bar {
  width: 300px;
}
#techno .container-techno .container-bar-divers .container-bar p {
  font-size: 15px;
  padding-top: 10px;
  text-align: left;
  font-weight: 600;
}
#techno .container-techno .container-bar-divers .container-bar .progress {
  padding: 2px;
  background: #b3b4b6;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
#techno .container-techno .container-bar-divers .container-bar .progress .progress-bar-github {
  background-color: #003566;
  width: 80%;
  -webkit-animation: progressAnimationStrike 6s;
          animation: progressAnimationStrike 6s;
  text-align: right;
  padding-right: 10px;
}
#techno .container-techno .container-bar-divers .container-bar .progress .progress-bar-github .pourcent {
  color: #003566;
  font-weight: 600;
}

@-webkit-keyframes progressAnimationStrike {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes progressAnimationStrike {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #techno .container-techno {
    padding: 1px 5px;
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  #techno .container-techno .container-bar-front {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
  }
  #techno .container-techno .container-bar-back {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
  }
  #techno .container-techno .container-bar-CMS {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }
  #techno .container-techno .container-bar-CMS h3 {
    text-align: center;
    margin-top: 20px;
  }
  #techno .container-techno .container-bar-divers {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
  }
  #techno .container-techno .container-bar-divers h3 {
    text-align: center;
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  #techno .container-techno {
    padding: 1px 5px;
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  #techno .container-techno .container-bar-front {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
  }
  #techno .container-techno .container-bar-back {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }
  #techno .container-techno .container-bar-back h3 {
    margin-top: 30px;
  }
  #techno .container-techno .container-bar-CMS {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
  }
  #techno .container-techno .container-bar-divers {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
  }
}
#presentation {
  margin-top: 50px;
}
#presentation .container {
  margin-top: 20px;
}
#presentation .container #presentation-perso {
  display: flex;
  justify-content: center;
}
#presentation .container #presentation-perso .pres {
  color: #000;
  font-size: 20px;
  margin: 100px 50px;
}
#presentation .container #presentation-perso img {
  margin-top: -110px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #presentation .container {
    padding: 0 100px 0 100px;
    height: 50vh;
    margin-top: 100px;
  }
  #presentation .container #presentation-perso {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #presentation .container #presentation-perso .pres {
    margin: 5px;
  }
  #presentation .container #presentation-perso img {
    margin-top: -77px;
    height: 400px;
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  #presentation .container {
    padding: 0 30px 0 30px;
  }
  #presentation .container #presentation-perso {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #presentation .container #presentation-perso .pres {
    margin: 1px;
  }
  #presentation .container #presentation-perso img {
    margin-top: -77px;
    height: 300px;
    width: 300px;
  }
}
/* Portfolio section styles */
#projets {
  background-color: #003566;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
}
#projets #project-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}
#projets #project-gallery #flexC {
  grid-column: 1;
  grid-row: 1;
}
#projets #project-gallery #kome {
  grid-column: 2;
  grid-row: 1;
}
#projets #project-gallery #zanzibar {
  grid-column: 1;
  grid-row: 2;
}
#projets #project-gallery #travel {
  grid-column: 2;
  grid-row: 2;
}
#projets #project-gallery .thumbnail {
  margin-bottom: 30px;
}
#projets #project-gallery .thumbnail .thumbnail-frame {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
}
#projets #project-gallery .thumbnail .thumbnail-frame .thumbnail-img {
  height: 360px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}
#projets #project-gallery .thumbnail .thumbnail-frame .project-description {
  margin: 5px 0 5px 5px;
  padding: 10px;
  position: absolute;
  top: 0px;
  left: 0;
  height: 360px;
  width: calc(100% - 10px);
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 1s;
}
#projets #project-gallery .thumbnail .thumbnail-frame .project-description:hover {
  opacity: 1;
}
#projets #project-gallery .thumbnail .thumbnail-frame .project-description .project-description-title {
  text-align: center;
  font-size: 22px;
}
#projets #project-gallery .thumbnail .thumbnail-frame .project-description .project-description-text {
  text-align: center;
  font-style: italic;
  color: #ddd;
}
#projets #project-gallery .thumbnail .thumbnail-frame .project-description .tags-list {
  line-height: 35px;
  margin: 50px;
}
#projets #project-gallery .thumbnail .thumbnail-frame .project-description .tags-list .tag {
  padding: 5px;
  background-color: #f05f40;
  border-radius: 5px;
}
#projets #project-gallery .thumbnail .thumbnail-frame .project-description .category-separator {
  font-size: 15px;
  padding-top: 20px;
}
#projets #project-gallery .thumbnail .thumbnail-frame .project-description .visit-button {
  padding: 10px;
  margin: 50px;
  background-color: #f05f40;
  border-radius: 3px;
  color: #fff;
}
#projets #project-gallery .thumbnail .thumbnail-frame .project-description .visit-button:hover {
  text-decoration: none;
  text-shadow: 2px 2px #444;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  #projets #project-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
  }
  #projets #project-gallery #flexC {
    grid-column: 1;
    grid-row: 1;
  }
  #projets #project-gallery #kome {
    grid-column: 1;
    grid-row: 2;
  }
  #projets #project-gallery #zanzibar {
    grid-column: 1;
    grid-row: 3;
  }
  #projets #project-gallery #travel {
    grid-column: 1;
    grid-row: 4;
  }
  #projets #project-gallery .thumbnail .project-description .visit-button {
    padding: 10px;
    margin: 10px;
    background-color: #f05f40;
    border-radius: 3px;
    color: #fff;
  }
}
#contact {
  background-image: url("../images/contact_tab.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
#contact .container-contact {
  margin: 50px 0px;
}
#contact .container-contact #contact-perso {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}
#contact .container-contact #contact-perso .ct {
  font-size: 20px;
  text-align: center;
}
#contact .container-contact #contact-perso .ct svg {
  fill: #fff;
}
#contact .container-contact #contact-perso .ct #tel {
  color: #fff;
}
#contact .container-contact #contact-perso .ct #mail {
  color: #fff;
}
#contact .container-contact #contact-perso .rs {
  font-size: 20px;
  text-align: center;
}
#contact .container-contact #contact-perso .rs svg {
  fill: #fff;
}
#contact .container-contact #contact-perso .rs #linkedin {
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #contact .container-contact #contact-perso {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (max-width: 767px) {
  #contact {
    height: 500px;
  }
  #contact .container-contact {
    margin: 5px;
  }
  #contact .container-contact #contact-perso {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  #contact .container-contact #contact-perso .ct {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
  }
  #contact .container-contact #contact-perso .rs {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
}
.site-footer {
  color: #fff;
  background-color: #003566;
}
.site-footer .container {
  width: 750px;
  height: 100px;
}
.site-footer .container #copyright {
  text-align: center;
  padding-top: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-image: #fff;
}
body section {
  padding: 30px 0 60px 0;
}
body h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: black;
  text-align: center;
}
body h1 span {
  color: #FF2416;
}
body h4 {
  font-size: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 300;
  word-spacing: 8px;
}
body .container {
  width: 100%;
  max-width: 120rem;
  height: auto;
  margin: auto;
  position: relative;
}
body .title {
  text-align: center;
}
body .title .ribbon-left {
  border-right: 0;
  border-left: 12px solid transparent !important;
  margin-right: 13px;
}
body .title .light-ribbon {
  display: inline-block;
  border: 12px solid #fff;
  border-radius: 2px;
  width: 40px;
}
body .title .dark-ribbon {
  display: inline-block;
  border: 12px solid #003566;
  border-radius: 2px;
  width: 40px;
}
body .title .section-title {
  font-size: 50px;
  font-family: "Yellowtail", cursive;
  display: inline-block;
  color: #003566;
}
body .title .section-title-light {
  font-size: 50px;
  font-family: "Yellowtail", cursive;
  display: inline-block;
  color: #fff;
}
body .title .ribbon-right {
  border-left: 0;
  border-right: 12px solid transparent !important;
  margin-left: 13px;
}
body #gotop {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: visibilité 0s, opacité 0.5s en douceur;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
body #gotop svg {
  fill: #011527;
}
body #gotop svg:hover {
  height: 60px;
  width: 60px;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 769px) {
  body .title {
    text-align: center;
  }
  body .title .ribbon-left {
    border-right: 0;
    border-left: 12px solid transparent !important;
    margin-right: 13px;
  }
  body .title .ribbon-right {
    border-left: 0;
    border-right: 12px solid transparent !important;
    margin-left: 13px;
  }
  body .title .light-ribbon {
    display: inline-block;
    border: 12px solid #fff;
    border-radius: 2px;
    width: 10px;
  }
  body .title .dark-ribbon {
    display: inline-block;
    border: 12px solid #003566;
    border-radius: 2px;
    width: 10px;
  }
  body .title .section-title {
    font-size: 50px;
    font-family: "Yellowtail", cursive;
    display: inline-block;
    color: #003566;
  }
  body .title .section-title-light {
    font-size: 50px;
    font-family: "Yellowtail", cursive;
    display: inline-block;
    color: #fff;
  }
}/*# sourceMappingURL=style.css.map */