@import "header";
@import "accueil";
@import "competences";
@import "technologies";
@import "presentation";
@import "projet";
@import "contact";
@import "footer";

$color_1: #003566;
$color_2 : #FF2416;
$color_3 : #000;
$background-color_h2: #feed05;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: #fff;

    section {
        padding: 30px 0 60px 0;
    }

    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        color: black;
        text-align: center;

        span {
            color: $color_2;
        }
    }

    h4 {
        font-size: 100%;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: 300;
        word-spacing: 8px;
    }

    .container {
        width: 100%;
        max-width: 120rem;
        height: auto;
        margin: auto;
        position: relative;
    }

    .title {
        text-align: center;

        .ribbon-left {
            border-right: 0;
            border-left: 12px solid transparent !important;
            margin-right: 13px;
        }

        .light-ribbon {
            display: inline-block;
            border: 12px solid #fff;
            border-radius: 2px;
            width: 40px;
        }

        .dark-ribbon {
            display: inline-block;
            border: 12px solid $color_1;
            border-radius: 2px;
            width: 40px;
        }


        .section-title {
            font-size: 50px;
            font-family: 'Yellowtail', cursive;
            display: inline-block;
            color: $color_1;
        }

        .section-title-light {
            font-size: 50px;
            font-family: 'Yellowtail', cursive;
            display: inline-block;
            color: #fff;
        }

        .ribbon-right {
            border-left: 0;
            border-right: 12px solid transparent !important;
            margin-left: 13px;
        }
    }

    #gotop {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibilité 0s, opacité 0.5s en douceur;
        position: fixed;
        bottom: 20px;
        right: 20px;

        svg {
            fill: #011527;

            &:hover {
                height: 60px;
                width: 60px;
            }
        }
    }

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 769px) {
    body {

        .title {
            text-align: center;

            .ribbon-left {
                border-right: 0;
                border-left: 12px solid transparent !important;
                margin-right: 13px;
            }

            .ribbon-right {
                border-left: 0;
                border-right: 12px solid transparent !important;
                margin-left: 13px;
            }

            .light-ribbon {
                display: inline-block;
                border: 12px solid #fff;
                border-radius: 2px;
                width: 10px;
            }

            .dark-ribbon {
                display: inline-block;
                border: 12px solid $color_1;
                border-radius: 2px;
                width: 10px;
            }


            .section-title {
                font-size: 50px;
                font-family: 'Yellowtail', cursive;
                display: inline-block;
                color: $color_1;
            }

            .section-title-light {
                font-size: 50px;
                font-family: 'Yellowtail', cursive;
                display: inline-block;
                color: #fff;
            }
        }
    }
}