@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
header {
  /* Bar */
  /* Nav Bar open */
  /* Gestion bouton croix*/
}

header #header_txt h3 {
  color: #fff;
  color: #fff;
  font-family: "Smooch", cursive;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

header .wrapper {
  position: fixed;
  top: 0;
  right: -100%;
  height: 20%;
  width: 100%;
  background: #003566;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

header .wrapper #header_txt #titleNB {
  font-family: "Smooch", cursive;
  font-size: 30px;
  position: absolute;
  top: 80%;
  left: 13%;
  height: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: left;
}

header .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 190px;
  position: absolute;
  top: 60%;
  left: 63%;
  height: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

header .wrapper ul li {
  height: 10%;
  margin: 15px 0;
}

header .wrapper ul li a {
  text-decoration: none;
  font-family: "Macondo", cursive;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 10px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 10px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 1.2s, -webkit-transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 1.2s, -webkit-transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

header .wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

header .wrapper ul li a:hover {
  color: #000;
}

header .wrapper ul li a:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header #active:checked ~ .wrapper {
  right: 0;
}

header #active:checked ~ .wrapper ul li a {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1);
          transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1);
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

header #active:checked + .menu-btn span {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

header #active:checked + .menu-btn:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: #000;
}

header #active:checked + .menu-btn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-color: #000;
}

header .menu-btn {
  position: fixed;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

header .menu-btn span {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #000;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

header .menu-btn:before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #000;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

header .menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #000;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

header .close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: background .6s;
  transition: background .6s;
}

header input[type="checkbox"] {
  display: none;
}

header .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #000;
}

header .content .title {
  font-size: 40px;
  font-weight: 700;
}

header .content p {
  font-size: 35px;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  header .wrapper {
    height: 400px;
  }
  header .wrapper #header_txt #titleNB {
    top: 50%;
    left: 20%;
  }
  header .wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 45%;
    gap: 1px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
  header .wrapper {
    height: 200px;
  }
  header .wrapper #header_txt #titleNB {
    top: 50%;
    left: 20%;
  }
  header .wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 70%;
    left: 53%;
    gap: 175px;
  }
}

#accueil {
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 150px;
}

#accueil #container_accueil {
  border-radius: 10px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#accueil #container_accueil .img_left {
  margin-top: 5%;
}

#accueil #container_accueil .img_left #pres_img {
  padding: 50px;
  margin: auto;
}

#accueil #container_accueil .img_left #pres_img img {
  height: 200px;
  width: auto;
  border-radius: 100px;
}

#accueil #container_accueil .text_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 5%;
}

#accueil #container_accueil .text_right #mini_pres {
  text-align: right;
  border-radius: 10px;
  margin: auto;
}

#accueil #container_accueil .text_right #mini_pres #pres_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#accueil #container_accueil .text_right #mini_pres #pres_txt h1 {
  font-size: 170%;
}

#accueil #container_accueil .text_right #mini_pres #btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px;
}

#accueil #container_accueil .text_right #mini_pres #btn .buttonCV {
  font-family: "Macondo", cursive;
  border: 1px solid #003566;
  background-color: #003566;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: background 2s, -webkit-transform 2s;
  transition: background 2s, -webkit-transform 2s;
  transition: background 2s, transform 2s;
  transition: background 2s, transform 2s, -webkit-transform 2s;
}

#accueil #container_accueil .text_right #mini_pres #btn .buttonCV:hover {
  background-color: #00b4d8;
  border: 1px solid #fff;
  -webkit-transform: background 0.5s 0s ease,  transform 0.5s 0s ease;
          transform: background 0.5s 0s ease,  transform 0.5s 0s ease;
}

#accueil #container_accueil .text_right #mini_pres #btn .buttonContact {
  font-family: "Macondo", cursive;
  border: 1px solid #003566;
  background-color: #003566;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  -webkit-transition: background-color 2s, text-shadow 2s, -webkit-box-shadow 2s;
  transition: background-color 2s, text-shadow 2s, -webkit-box-shadow 2s;
  transition: box-shadow 2s, background-color 2s, text-shadow 2s;
  transition: box-shadow 2s, background-color 2s, text-shadow 2s, -webkit-box-shadow 2s;
}

#accueil #container_accueil .text_right #mini_pres #btn .buttonContact:hover {
  background-color: #00b4d8;
  border: 1px solid #fff;
  -webkit-transform: box-shadow 1s 0.5s ease-in,  text-shadow 0.5s 0s linear,  background 0.5s 0s linear;
          transform: box-shadow 1s 0.5s ease-in,  text-shadow 0.5s 0s linear,  background 0.5s 0s linear;
}

@media screen and (max-width: 1200px) {
  .img_left {
    margin-top: 5%;
  }
  .img_left #pres_img {
    padding: 50px;
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  .img_left {
    margin-top: 5%;
  }
  .img_left #pres_img {
    padding: 50px;
    margin: auto;
  }
  .img_left #pres_img img {
    height: 200px;
    border-radius: 100px;
  }
}

@media screen and (max-width: 768px) {
  #btn {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #btn .buttonCV {
    text-align: center;
    width: 80%;
    height: 60px;
  }
  #btn .buttonContact {
    text-align: center;
    width: 80%;
    height: 60px;
  }
}

#competences {
  background-color: #003566;
}

#competences h2 {
  color: #fff;
}

#competences .compt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#competences .compt .comp_txt_icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.33333333%;
}

#competences .compt .comp_txt_icon .rond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  -webkit-box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 8px 20px 5px rgba(0, 0, 0, 0);
}

#competences .compt .comp_txt_icon .rond svg {
  margin: auto;
  fill: #003566;
}

#competences .compt .comp_txt_icon p {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

#techno .container_techno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#techno .container_techno .container_txt_icon_html .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  height: 250px;
  width: 200px;
  padding: 30px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 0px 0px #ea5a5a;
          box-shadow: 0px 10px 0px 0px #ea5a5a;
  border: dashed #e44c25;
}

#techno .container_techno .container_txt_icon_html .box #html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#techno .container_techno .container_txt_icon_html .box #html svg path {
  fill: #e44c25;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
}

#techno .container_techno .container_txt_icon_html .box #html:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#techno .container_techno .container_txt_icon_css .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  height: 250px;
  width: 500px;
  padding: 30px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 0px 0px #16a1dc;
          box-shadow: 0px 10px 0px 0px #16a1dc;
  border: dashed #16a1dc;
}

#techno .container_techno .container_txt_icon_css .box #css {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#techno .container_techno .container_txt_icon_css .box #css svg path {
  fill: #16a1dc;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
}

#techno .container_techno .container_txt_icon_css .box #css:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#techno .container_techno .container_txt_icon_bootstrap .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  height: 250px;
  width: 200px;
  background: white;
  padding: 30px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 0px 0px #563d7c;
          box-shadow: 0px 10px 0px 0px #563d7c;
  border: dashed #563d7c;
}

#techno .container_techno .container_txt_icon_bootstrap .box #bootstrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#techno .container_techno .container_txt_icon_bootstrap .box #bootstrap svg path {
  fill: #563d7c;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
}

#techno .container_techno .container_txt_icon_bootstrap .box #bootstrap:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#techno .container_techno .container_txt_icon_git .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  height: 250px;
  width: 200px;
  background: white;
  padding: 30px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 0px 0px #000;
          box-shadow: 0px 10px 0px 0px #000;
  border: dashed #000;
}

#techno .container_techno .container_txt_icon_git .box #github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#techno .container_techno .container_txt_icon_git .box #github svg path {
  fill: #000;
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
}

#techno .container_techno .container_txt_icon_git .box #github:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (max-width: 1024px) {
  #techno .container_techno {
    display: -ms-grid;
    display: grid;
    grid-gap: 40px;
  }
  #techno .container_techno .container_txt_icon_html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #techno .container_techno .container_txt_icon_css {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #techno .container_techno .container_txt_icon_css .box {
    padding: 30px 70px;
  }
  #techno .container_techno .container_txt_icon_bootstrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  #techno .container_techno .container_txt_icon_git {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

#presentation {
  margin-left: 100px;
  margin-right: 100px;
}

#presentation .container_pres {
  height: 300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#presentation .container_pres #pres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#presentation .container_pres #pres p {
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
  font-style: italic;
}

#presentation .container_pres #pres p span {
  font-weight: bold;
}

#presentation .container_pres #img_pres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#presentation .container_pres #img_pres svg {
  fill: #003566;
}

@media screen and (max-width: 1024px) {
  #presentation .container_pres {
    padding-top: 100px;
    height: 300px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  #presentation .container_pres #pres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #presentation .container_pres #img_pres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#projets .container_portfolio {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
}

#projets .container_portfolio .container_flexcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

#projets .container_portfolio .container_flexcard #img_flexcard {
  background-image: url(../images/FlexCard.PNG);
  border-radius: 10px;
  background-size: cover;
  background-position: top center;
  height: 300px;
  width: 80%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
}

#projets .container_portfolio .container_flexcard #img_flexcard:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#projets .container_portfolio .container_komewaza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

#projets .container_portfolio .container_komewaza #img_komewaza {
  background-image: url(../images/KomeWaza.png);
  border-radius: 10px;
  background-size: cover;
  background-position: top center;
  height: 300px;
  width: 80%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
}

#projets .container_portfolio .container_komewaza #img_komewaza:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#projets .container_portfolio .container_zanzibar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

#projets .container_portfolio .container_zanzibar #img_zanzibar {
  background-image: url(../images/Zanzibar.PNG);
  border-radius: 10px;
  background-size: cover;
  background-position: top center;
  height: 300px;
  width: 80%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
}

#projets .container_portfolio .container_zanzibar #img_zanzibar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  #projets {
    padding-top: 100px;
  }
  #projets .container_portfolio {
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
  }
  #projets .container_portfolio .container_flexcard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #projets .container_portfolio .container_komewaza {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #projets .container_portfolio .container_zanzibar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

#footer {
  background-color: #003e52;
  color: #fff;
}

#footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#footer .info #contact h3 {
  font-size: 40px;
  text-decoration: underline;
}

#footer .info #contact p {
  padding-top: 20px;
}

#footer .info #contact p a svg path {
  fill: #fff;
}

#footer .info #reseaux h3 {
  font-size: 40px;
  text-decoration: underline;
}

#footer .info #reseaux .res0 {
  padding-top: 10px;
}

#footer .info #reseaux .res0 a svg path {
  fill: #fff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
}

body section {
  padding: 30px 0 60px 0;
}

body h2 {
  color: #003566;
  font-size: 250%;
  font-family: "Macondo", cursive;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 300;
  word-spacing: 8px;
}

body h2:after {
  display: block;
  height: 2px;
  background-color: #feed05;
  width: 100px;
  content: " ";
  margin: 0 auto;
  margin-top: 10px;
}

body h4 {
  font-size: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 300;
  word-spacing: 8px;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
SASS

créer fichier index.html / style.scss
cliquer sur watching sass
link le fichier css apparue
créer 4 li --> <li*4>


*/
/*# sourceMappingURL=style.css.map */